bin/main_6502
bin/opcode_tests
configure
Makefile
makefile
Makefile.in
config.h
config.h.in
config.h.in~
configure~
config.status
config.log
config.cache
autom4te.cache/
aclocal.m4
compile
depcomp
install-sh
missing
opcode_tests
stamp-h1
test-driver
bin/.dirstamp
src/.deps/
src/.dirstamp
bin/rom.bin
bin/char_rom.bin
*.o